
@{
    ViewBag.Title = "SaleDirectory";
}

<h2>SaleDirectory</h2>
<br />
@Html.ActionLink("Index", "Index", "Sale")
<br />
@Html.ActionLink("Add Make", "Makes", "Sale")
<br />
@Html.ActionLink("Add Model", "Models", "Sale")
