@model IEnumerable<CarMast.Models.DataModels.Vehicle>

@{
    ViewBag.Title = "Used";
}

<div class="row">
    <div class="col-md-12">
        <h2>Used Vehicles</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!--padding: 10px; margin-bottom: 20px-->
        <form class="form-inline" id="usedSearchForm" style="border: 2px solid black; padding: 10px">
            <div class="row">
                <p>Quick Search</p>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <input type="text" class="form-control" id="makeModelYearInput" placeholder="Enter make, model, year" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="col-md-1"></div>
                        <label>Price</label>
                        <select class="form-control" id="minPrice">
                            <option value="" selected disabled hidden>No Min</option>
                            <option value="1000">1000</option>
                            <option value="5000">5000</option>
                            <option value="10000">10000</option>
                            <option value="15000">15000</option>
                            <option value="20000">25000</option>
                            <option value="25000">25000</option>
                            <option value="30000">30000</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                        <select class="form-control" id="maxPrice">
                            <option value="" selected disabled hidden>No Max</option>
                            <option value="1000">1000</option>
                            <option value="5000">5000</option>
                            <option value="10000">10000</option>
                            <option value="15000">15000</option>
                            <option value="20000">25000</option>
                            <option value="25000">25000</option>
                            <option value="35000">35000</option>
                            <option value="40000">40000</option>
                            <option value="45000">45000</option>
                            <option value="50000">50000</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Year</label>
                    <select class="form-control" id="minYear">
                        <option value="" selected disabled hidden>No Min</option>
                        <option value="2000">2000</option>
                        <option value="2001">2001</option>
                        <option value="2002">2002</option>
                        <option value="2003">2003</option>
                        <option value="2004">2004</option>
                        <option value="2005">2005</option>
                        <option value="2006">2006</option>
                        <option value="2007">2007</option>
                        <option value="2008">2008</option>
                        <option value="2009">2009</option>
                        <option value="2010">2010</option>
                        <option value="2011">2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                    </select>
                </div>
                <div class="col-md-1"></div>
                <div class="form-group">
                    <!--<label for="maxYear">Max Year</label>-->
                    <select class="form-control" id="maxYear">
                        <option value="" selected disabled hidden>No Max</option>
                        <option value="2000">2000</option>
                        <option value="2001">2001</option>
                        <option value="2002">2002</option>
                        <option value="2003">2003</option>
                        <option value="2004">2004</option>
                        <option value="2005">2005</option>
                        <option value="2006">2006</option>
                        <option value="2007">2007</option>
                        <option value="2008">2008</option>
                        <option value="2009">2009</option>
                        <option value="2010">2010</option>
                        <option value="2011">2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                    </select>
                </div>
            </div>
            <div class="row"></div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-default">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
<br />
<div class="row">
    <h1 id="searchResultsHeading" style="display: none">Search Results</h1>
</div>
<div class="row">
    <div class="col-md-12" id="usedSearchResults">

    </div>
</div>
@section  Scripts
{
    <script>
        //Wont return search to server
        $(document).ready(function () {
            $("#usedSearchForm").submit(function (e) {
                e.preventDefault();     
                search();
                return false;
            });
        });

        function search() {
            //alert("Error");
            var params;
            var ImageFileName = '@Url.Content("~/Images/")';
            var detailsPath = '@Url.Action("Details", "Inventory")/';
            params = 'input=' + $('#makeModelYearInput').val() + '&minPrice=' + $('#minPrice').val() + '&maxPrice=' + $('#maxPrice').val() + '&minYear=' + $('#minYear').val() + '&MaxYear=' + $('#maxYear').val();

            $.ajax({
                type: 'GET',
                url: 'http://localhost:51539/api/search/searchusedvehicles/?' + params,
                success: function (searchResultArray) {
                    $("#searchResultsHeading").show();
                    $('#usedSearchResults').empty();

                    $.each(searchResultArray, function (index, vehicle) {
                        var id = vehicle.VehicleId;
                        var year = vehicle.Year;
                        var make = vehicle.Model.Make.MakeDescription;
                        var model = vehicle.Model.ModelDescription;
                        var body = vehicle.BodyStlye.BodyStyleDescription;
                        var trans = vehicle.Transmission.TransmissionType;
                        var exterior = vehicle.ExteriorColor.ExteriorColorDescription;
                        var interior = vehicle.InteriorColor.InteriorColorDescription;
                        var mileage = vehicle.Mileage;
                        var vin = vehicle.Vin;
                        var salePrice = vehicle.SalePrice;
                        var msrp = vehicle.MSRP;

                        var html = '<div class="col-md-12" style = "border: 2px solid black; padding: 10px; margin-bottom: 20px">' +
                            '<div class="col-md-3"><div class="row">' + year + " " + make + " " + model + '</div>' + '<div class="row">' + '<img src="' + ImageFileName + vehicle.ImageFileName + '"/></div></div>' +
                            '<div class="col-md-3"><p>' + "Body Style: " + body + '</p>' +
                            '<p>' + "Trans: " + trans + '</p>' +
                            '<p>' + "Color: " + exterior + '</p></div>' +
                            '<div class="col-md-3"><p>' + "Interior: " + interior + '</p>' +
                            '<p>' + "Mileage: " + mileage + '</p>' +
                            '<p>' + "VIN #: " + vin + '</p></div>' +
                            '<div class="col-md-3"><p>' + "Sales Price: " + salePrice + '</p>' +
                            '<p>' + "MSRP: " + msrp + '</p>' +
                            '<p><a href="' + detailsPath + id + '">Details</a></p>' +
                            '</div>';

                        $('#usedSearchResults').append(html);
                    });
                },
                error: function () {
                    alert('Error performing search. Try again later.')
                }
            });
        }
    </script>
}
