@model List<CARMASTERY.Models.DataModels.User>

@{
    ViewBag.Title = "SalesReport";
}


<div class="row">
    <div class="col-md-12">
        <h1>Sales Report</h1>
    </div>
</div>
<br />
<div class="row">
    <form class="form-inline" id="salesReportForm" style="border: 2px solid black; padding: 10px">
        <label>Filters</label>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>User</label>
                        <select class="form-control" id="userSelected">
                            <option value="0">- All -</option>
                            @foreach (var x in Model)
                            {
                                <option value="@x.UserId">@x.FirstName @x.LastName</option>
                            }
                        </select>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="fromDate">From Date</label>
                        <input type="text" class="form-control" id="fromDate" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="toDate">To Date</label>
                        <input type="text" class="form-control" id="toDate" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row"></div>
        <div class="col-md-12"></div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="form-group">
                <button type="submit" id="salesReportSearchButton" class="btn btn-default">Search</button>
            </div>
        </div>
    </form>
</div>
<br />
<div class="row">
    <h1 id="searchResultsHeading" style="display: none">Search Results</h1>
</div>
<div class="row">
    <div class="col-md-4" id="totalSalesTableDiv">
        <table class="table table-striped">
            <tr>
                <th>User</th>
                <th>From Date</th>
                <th>To Date</th>
            </tr>
            <tbody id="totalSalesContentRows"></tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#salesReportForm").submit(function (e) {
                e.preventDefault();
                search();
                return false;
            });
        });
        function search() {
            var contentRows = $('#totalSalesContentRows')
            //
            params = 'userId='+ $('#userSelected').val() + '&fromDate=' + $('#fromDate').val() + '&toDate=' + $('#toDate').val();
            $.ajax({
                type: 'GET',
                url: '/api/salesreport/' + params,
                success: function (totalsTableArray) {
                    $.each(totalsTableArray, function (index, purchase) {

                        $("#searchResultsHeading").show();

                        var UserId = purchase.UserId;
                        var totalSales = purchase.totalSales;
                        var totalVehicles = purchase.totalVehicles;

                        var html = '<tr>';
                        row += '<td>' + UserId + '</td>';
                        row += '<td>' + totalSales + '</td>';
                        row += '<td>' + totalVehicles + '</td>';
                        row += '</tr>';

                        contentRows.append(html);
                    });
                    console.log("Super Dooper");
                },
                error: function () {
                    alert("fail");
                }
            });
        }
    </script>
}

